<?xml version="1.0" ?>
<launch>

	<!-- load parameters-->
	<group ns = "Exercise_3_1roslaunch">
		<rosparam command="load" file="$(find Exercise_3_1roslaunch)/parameter.yaml" />
	</group>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz"/>

	<!-- usb_cam-test -->
	<include file="$(find usb_cam)/launch/usb_cam-test.launch"/>

</launch>
